---
layout: page
title: Vocabolario
subtitle: analisi grammaticale della lingua italiana

og_title: Vocabolario italiano
og_description: dizionario italiano e analisi grammaticale delle parole della lingua italiana.
og_type: website
---

<script src="/js/parola.js"></script>

	  <div ng-app="myApp" ng-controller="planetController">
            <p><input ng-model="query" placeholder="inserisci una parola" type="text"></p>
	    <p><button ng-click="searchV(query)">Cerca parola</button></p>
            <p>Risultato: [[result]]</p>  
	  </div>

